\documentclass[preprint,12pt,authoryear,a4paper]{elsarticle}
\input{../preamble.tex}
\renewcommand{\thesection}{S\arabic{section}}
\renewcommand{\thefigure}{S\arabic{figure}}
\renewcommand{\thetable}{S\arabic{table}}
\renewcommand{\theequation}{S\arabic{equation}}
\begin{document}
\begin{center}
{\Large\bfseries Supplementary material}\\[2mm]
{\large Sensor noise, array design and helmet fit in on-scalp and cryogenic magnetoencephalography: a simulation study in adult and pediatric head models}\\[2mm]
Laiba Khan and Mainak Jas
\end{center}
\linenumbers
<% include 'supp/S1_estimands.tex.j2' %>
<% include 'supp/S2_sphere.tex.j2' %>
<% include 'supp/S3_noise.tex.j2' %>
<% include 'supp/S4_anatomy.tex.j2' %>
<% include 'supp/S5_helmets.tex.j2' %>
<% include 'supp/S6_regions.tex.j2' %>
<% include 'supp/S7_spikes.tex.j2' %>
<% include 'supp/S8_parameters.tex.j2' %>
<% include 'supp/S9_literature.tex.j2' %>
<% include 'supp/S10_provisional.tex.j2' %>
\FloatBarrier
\bibliographystyle{elsarticle-harv}
\bibliography{references}
\end{document}
